body{
    background-color: darkslategray;
}

#footer{
    background-color: darkslateblue;
    width: 100%;
    height: 100px;
    color: darkseagreen;
    bottom: 0%;
    position: absolute;
    text-align: right;
}

#cont{
    text-align: right;
}



